<p>
  <strong>Commenter:</strong>
  <%= "#{User.find_by_id(comment.user_id).name}" if User.exists?(comment.user_id) %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
<%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

