<div>
<% if comment.present? %>
<a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        
                       <h4 class="media-heading">
						               

						<p>
						  <strong>Comment:</strong>
						  <%= comment.body %>
						</p>

						<p>
						  <strong>Commenter:</strong>
						  <%if comment.user_id.nil? %>
						  Nillllll
						  <%else%>
						  <%= comment.user_id %>
						  <% end %>
						</p>
						<p>
						<%= link_to 'Destroy Comment', [comment.article, comment],
						  method: :delete, data: { confirm: 'Are you sure?' } %>
						</p>
				       </h4>
					</div>
<% end %>
<div>
