<div>
<% if comment.present? %>
<a class="pull-left" href="#">
                        
                    </a>
                    <div class="media-body">
                        
                       <h4 class="media-heading">
						               
						<%if comment.user.nil? %>
						<%else%>
						 <h2 class = "text-left" style = "text-decoration= bold"><%= link_to comment.user.name, user_path(comment.user) %></h2>
						</h4>

						 <p>
						   <%= comment.body %>
						  <% end %>
						  <br>
						  <br>
						 <%= link_to 'Delete Comment', [comment.article, comment],
						  method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"%>
			       		</p>

					</div>
</div>

					
<% end %>
