<div>
<% if comment.present? %>
<a class="pull-left" href="#">
                        
                    </a>
                    <div class="media-body">
                        
                       <h4 class="media-heading">
						               

						<p>
						<%if comment.user.nil? %>
						<%else%>
						  <%= comment.user.name %> :
						 
						   <%= comment.body %>
						  <% end %>
						  <br/>
						<%= link_to 'Destroy Comment', [comment.article, comment],
						  method: :delete, data: { confirm: 'Are you sure?' } %>
						 
						 </p>
				       </h4>

					</div>

					
<% end %>
<div>
