<!DOCTYPE html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<LINK rel="stylesheet" href="Stylesheet2.css" TYPE="text/css">
<link type="text/css" rel="stylesheet" href="main.css" />


<title>About us</title>
</head>
 
<div style="float:left;margin-top:0px">
<div style="background: url(Nada.jpg) no-repeat;  background-size: cover; 
background-position: center;"  class="circular">
</div>

<div  style="background: url(Omar.jpg) no-repeat;  background-size: cover;
background-position: center;"  class="circular">
</div>

<div  style="background: url(Mohamed.jpg) no-repeat;  background-size: cover;
background-position: center;"  class="circular">
</div>

<div  style="background: url(Israa.jpg) no-repeat;  background-size: cover;
background-position: center;"  class="circular">
</div>

<div  style="background: url(Karim.jpg) no-repeat;  background-size: cover;
background-position: center;"  class="circular">
</div>

<div  style="background: url(Merna.jpg) no-repeat;  background-size: cover;
background-position: center;"  class="circular">
</div>

<div  style="background: url(Mina.jpg) no-repeat;  background-size: cover;
background-position: center;"  class="circular">
</div>
</div>

<div style="float:left;margin-top:0px" >
<a href="put link here">
<p class="infoFont" > Nada Hamdi</p>
</a >
<a href="put link here">
<p class="infoFont" > Omar Mahmoud</p>
</a >
<a href="put link here">
<p class="infoFont" > Mohamed Yasser</p>
</a>
<a href="put link here">
<p class="infoFont" >Israa Eliwan</p>
</a>
<a href="put link here">
<p class="infoFont" >Karim El-Sheikh</p>
</a>
<a href="put link here">
<p class="infoFont">Merna Emad</p>
</a>
<a href="put link here">
<p class="infoFont" >Mina Nemr</p>
</a>
</div>











<div id="rightdiv" >

<div id="Headline">Contact us</div>

<div> 
 <p><a href="put link here"><i class="fa fa-facebook fa-4x"></i></i></a>
   <a href="put link here"><i class="fa fa-twitter fa-4x"></i></a>
  </p></div>

  <div id="Headline">Our Vision</div>

  <div id="a2" >
 <p class="info" >Write something here</p></div>

 <div id="Headline">Our Mission</div>

  <div id="a2" >
 <p class="info" >Write something here</p></div>



 </div>






</body>