 <div class="center jumbotron">
  <% if logged_in? %>  
  <a href="/articles">
      <img src="/assets/Background.jpg"  alt="..." class="img-responsive" style="margin: auto; width: 80%; ">
      </a>

      <h1>Don't Click on the lamp</h1>
 <% else %>
  <h1>Welcome to Arcode</h1>
<h4>The <FONT COLOR="0066FF">Boistrous</FONT> home of programming</h4>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>        <% end %>