<footer class="footer">
  <small>
    <a href="#">Arcode</a>
    by <a href="https://www.facebook.com/Veega5">Veegas , <a href="https://www.facebook.com/omar.m.kamal"> Omar , <a href="https://www.facebook.com/nada.hamdi.98?fref=ts"> Nada, <a href="https://www.facebook.com/tigerdx619?fref=ts"> Mina , <a href="https://www.facebook.com/karim.e.sheikh?fref=ts"> Karim , <a href="https://www.facebook.com/merna.emad.581?fref=ts"> Merna , <a href="https://www.facebook.com/israa.elwan.1?fref=ts">Israa</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>