<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<LINK rel="stylesheet" href="/assets/Stylesheet2.css" TYPE="text/css">
<link type="text/css" rel="stylesheet" href="/assets/main.css" />


<title>About us</title>
</head>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="'#carousel-example-generic'" data-slide-to="1"></li>
    <li data-target="'#carousel-example-generic'" data-slide-to="2"></li>
    <li data-target="'#carousel-example-generic'" data-slide-to="3"></li>
    <li data-target="'#carousel-example-generic'" data-slide-to="4"></li>
    <li data-target="'#carousel-example-generic'" data-slide-to="5"></li>
    <li data-target="'#carousel-example-generic'" data-slide-to="6"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div style="background: url(/assets/Nada.jpg) no-repeat;  background-size: cover; 
		background-position: center; width: 50%"  class="circular center-block"> 
	</div>
  </div>
    
    <div class="item">
      <div  style="background: url(/assets/Omar.jpg) no-repeat;  background-size: cover;
		background-position: center; width: 50%"  class="circular">
		</div>

    </div>
    <div class="item">
      <div  style="background: url(/assets/Mohamed.jpg) no-repeat;  background-size: cover;
		background-position: center; width: 50%"  class="circular">
		</div>
    </div>

    <div class="item">
    <div  style="background: url(/assets/Israa.jpg) no-repeat;  background-size: cover;
background-position: center; width: 50%"  class="circular">
</div>

    </div>

    <div class="item">
    <div  style="background: url(/assets/Karim.jpg) no-repeat;  background-size: cover;
background-position: center; width: 50%"  class="circular">
</div>

    </div>

    <div class="item">
    
    <div  style="background: url(/assets/Merna.jpg) no-repeat;  background-size: cover;
	background-position: center; width: 50%"  class="circular">
	</div>

    </div>

    <div class="item">
    
		<div  style="background: url(/assets/Mina.jpg) no-repeat;  background-size: cover;
		background-position: center; width: 50%; margin: auto;"  class="circular">
		</div>

    </div>

  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div style="float:left;margin-top:0px" >
<a href="Nada">
		<p class="infoFont" > Nada Hamdi</p>
</a >
<a href="Omar">
<p class="infoFont" > Omar Mahmoud</p>
</a >
<a href="Mohamed">
<p class="infoFont" > Mohamed Yasser</p>
</a>
<a href="Israa">
<p class="infoFont" >Israa Eliwan</p>
</a>
<a href="Karim">
<p class="infoFont" >Karim El-Sheikh</p>
</a>
<a href="Merna">
<p class="infoFont">Merna Emad</p>
</a>
<a href="Mina">
<p class="infoFont" >Mina Nemr</p>
</a>
</div>











<div id="rightdiv" >

<div id="Headline">Contact us</div>

<div> 
 <p><a href="put link here"><i class="fa fa-facebook fa-4x"></i></i></a>
   <a href="put link here"><i class="fa fa-twitter fa-4x"></i></a>
  </p></div>

  <div id="Headline">Our Vision</div>

  <div id="a2" >
 <p class="info" >Write something here</p></div>

 <div id="Headline">Our Mission</div>

  <div id="a2" >
 <p class="info" >Write something here</p></div>



 </div>






</body>